<div ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)" 
  class="card blog-card" rel="bookmark" >
  {{ if isset .Params "featuredimage" }} 
  <div class="card-img-container">
  <a href="{{ .Permalink }}"><img src="{{.Params.featuredimage }}" class="card-img" /></a>
  </div>  
  {{ end }}
  <article class="card-body">
        <div class="subscribe">
                <a href="#." data-toggle="modal" title="Watcher" data-target="#exampleModalCenter"><div class="small-bt-row"><span class="col a"><i class="far fa-eye"></i></span><span class="col b">Watch</span></div></a>
              </div>
    <h2 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p class="card-text">{{ if (isset .Params "description") }}{{ index .Params "description" }}{{ else }}{{ .Summary }}{{ end }}</p>
    <!-- social-count-area -->
    <div class="metrix">
                <div class="social-share">  
                <a class="fb-share" href='https://www.facebook.com/sharer/sharer.php?u=https://stage.fhirhunt.com{{ .Permalink | safeURL }}' target="_blank"><div class="social-ico face"><i class="fab fa-facebook-f"></i></div></a>
                <a class="fb-share"  href='https://twitter.com/home?status={{ .Permalink | safeURL }}'><div class="social-ico twit"><i class="fab fa-twitter"></i></div></a>         
                <a class="" href='mailto:?subject={{ .Title }}&body={{ .Permalink | safeURL }}' target="_blank"><div class="social-ico mail"><i class="fas fa-envelope"></i></div></a>           
                <div class="clearfix"></div>
                </div>
                <div class="popularity">
                <a href="#." data-toggle="modal" title="Vote" data-target="#exampleModalCenter"><div class="small-bt-row"><span class="col a"><i class="fas fa-arrow-alt-circle-up"></i></span><span class="col b">0</span></div></a>
                <a href="#." data-toggle="modal"  data-target="#exampleModalCenter"><div class="small-bt-row"><span class="col a"><i class="fas fa-comment"></i></span><span class="col b">0</span></div></a>
                <div class="clearfix"></div>
                </div>
                {{ if (ne .Params.watchers "0") | and (ne .Params.stars "0") | and (ne .Params.forks "0")}}
                <div class="github-row fab fa-github">
                <a href="#" target="_blank">
                <div class="github-count">
                <span><i class="fas fa-eye"></i></span><span class="hunt-comm-count">{{.Params.watchers }}</span>
                </div>
                </a> 
                <a href="#" target="_blank">
                <div class="github-count">
                <span><i class="fas fa-star"></i></span><span class="hunt-comm-count">{{.Params.stars }}</span>
                </div>
                </a> 
                <a href="#" target="_blank">
                <div class="github-count">
                <span><i class="fas fa-code-branch"></i></span><span class="hunt-comm-count">{{.Params.forks }}</span>
                </div>
                </a>
                <div class="clearfix"></div>
                </div>
                {{end}}
		<div class="clearfix"></div>
        </div>
        <!-- social-count-area ends -->

    <div class="card-subtext muted-text">
      <p>Posted <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
      {{ range $key, $value := .Params.categories }}
        <p><a href="/categories/{{ $value | urlize  }}">{{ $value | humanize }}</a></p>
      {{ end }}
      

      </div>
  </article>
</div>

<script type="text/javascript">

$(document).ready(function() {
    $('.fb-share').click(function(e) {
        e.preventDefault();
        window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
        return false;
    });
});

</script>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center mod-content"><b>Coming Soon</b></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>