@charset "utf-8";
/* FHIR THEME CSS */
body {
	color: #777!important;
	background: #ecebe9 url(../img/pattern1.jpg) repeat;
}
a {
	color: #777!important;
}
a:hover {
	color: #222!important;
	text-decoration: none!Important;
}
img {
	width: 100%;
	height: auto;
	margin: 0em 0;
}
.btn, .form-control:focus {
	outline: 0!Important;
	box-shadow: 0 0 0 0rem rgba(0,123,255,.25)!Important;
}
.navbar-toggler {
	background-color: #ddd;
	border: 1px solid #cfcfcf;
}
/* top */
.top-row {
	border-bottom: 1px solid #fff;
	width: 100%;
	margin-bottom: 30px;
	background-color: rgba(255, 255, 255, 0.4);
}
.owned {
	font-size: 12px;
	margin-top: 5px;
	color: #222;
}
.owned a, .owned a:hover {
	color: #da552f!important;
	text-decoration: none;
}
.owned img {
	width: 40px!important;
}
.top-nav {
	padding: 0px!important;
}
.top-nav a {
	color: #111!important;
}
.fhir-list-row {
}
.fhir-list-row .blog-card {
	border-radius: 0rem!important;
	margin-top: 0px!important;
	margin-bottom: 19px!important;
	border: 1px solid #e8e8e8!important;
	box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.05), 0 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.1)!important;
	flex-direction: row!important;
}
.fhir-list-row .blog-card .card-title {
	margin-top: 5px!important;
	margin-bottom: 5px!important;
	color: #333;
	font-size: 1.5rem!important;
}
.fhir-list-row .blog-card .card-title a {
	color: #333!important;
}
.fhir-list-row .blog-card .card-text {
	margin-top: 0!important;
	margin-bottom: 15px!important;
}
.card-img {
	width: 20em;
}
.single-blog-card {
	border-radius: 0rem!important;
	margin-top: 0px!important;
	border: 1px solid #e8e8e8!important;
	box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1), 0 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.1)!important;
	color: #333;
}
.single-blog-card .post {
	margin-top: 0px!important;
	margin-bottom: 0px!important;
}
.single-blog-card .post-title {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 5px!important;
}
.single-blog-card h2, .single-blog-card h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 5px!important;
}
.single-blog-card .post-header {
	margin: 0 0 1.5em 0;
	padding-bottom: 16px;
	border-bottom: 1px solid #e8e8e8;
}
/* metrix */
.metrix {
	/*width: 100%;*/
}
.subscribe {
	float: right;
}
.popularity {
	float: left;
}
/* social share */
.social-count-area {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.social-share {
	text-align: left;
	min-height: 30px;
	float: right;
}
.social-ico {
	display: inline-block;
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
	line-height: 24px;
	font-size: 15px;
	color: #eee;
	border-radius: 3px;
}
.face {
	background: #2a6499;
}
.twit {
	background: #05c7f2;
}
.mail {
	background: #aeaeae;
}
.b-t-1 {
	border-top: 1px solid #ddd;
}
/* search bar css starts */
#custom-search-input {
	margin: 0;
	margin-top: 8px;
	padding: 0;
}
#custom-search-input .search-query {
	padding-right: 3px;
	padding-left: 12px;
	margin-bottom: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-top: 6px;
	padding-bottom: 6px;
	transition: 1s;
	font-size: 14px;
	height: inherit;
	border: 1px solid #e8e8e8!important;
}
#custom-search-input .search-query:focus {
	border: 1px solid #b9b9b9!important;
}
#custom-search-input button {
	border: 0;
	background: none;
	padding: 2px 5px;
	margin-top: 4px;
	position: relative;
	/*left: -30px;*/
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #9e9e9e;
}
#custom-search-input .input-group-btn {
	z-index: 9;
	margin-left: -30px;
}
/* search bar css ends */
.post-bt {
	width: 100%;
	border-radius: 3px!important;
	margin-top: 10px;
	padding-top: 5px;
	text-transform: uppercase;
	font-size: 12px;
	background: red!Important;
	border-color: red!Important;
}
.small-bt-row {
	display: inline-block;
	float: left;
	height: 25px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
	font-weight: 600;
	color: #777;
	border-radius: 3px;
	border: 1px solid #ddd;
	padding-left: 5px;
	padding-right: 5px;
}
.small-bt-row .col {
	padding-right: 4px;
	padding-left: 4px;
}
.small-bt-row .col.a {
	color: #989898;
}
.small-bt-row .col.a i.fas {
	top: 1px;
	position: relative;
}
.small-bt-row .col.b {
	color: #666;
}
.mod-content {
	font-size: 22px;
}
/* git count row css starts */
.github-row {
	border: 1px solid #d4d5d6;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top, #fefefe 0%, #e4e4e4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fefefe 0%, #e4e4e4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fefefe 0%, #e4e4e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#cdcdcd', GradientType=0 ); /* IE6-9 */
	padding: 0px 0px 0px 5px;
	border-radius: 3px;
	/*float: left;*/
	margin-bottom: 5px;
}
.github-row::before {
	float: left;
	color: #222;
	font-size: 20px;
	padding-right: 4px;
	padding-top: 2px;
}
.github-count { /* added */
	font-size: 13px;
	padding: 5px 6px;
	width: inherit;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	height: inherit;
	border: 0px;
	border-radius: 0px;
	border-left: 1px solid #d4d5d6;
	float: left;
	background: #fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.github-count .fas { /* added */
	color: rgba(66, 66, 66, 0.8);
	margin-right: 2px;
	margin-top: -5px;
	background: #fff;
}
.github-count .hunt-comm-count {
	color: #4c4c4c;
	font-size: 12px;
}
/* git count row css ends */
.hamburger-menu {
	left: 10px!important;
	margin-bottom: 20px;
	margin-top: 15px;
}
.top-nav .hamburger-menu-overlay-link {
	color: white!important;
}
.card-subtext > p + p {
	border-left: thin dashed #c3c3c3!important;
}
.single-block {
}
.single-block-left {
}
.single-block-right {
}
.single-block-righ ul {
	padding-left: 0px;
	padding-bottom: 20px;
}
.single-block-right h3 {
	font-size: 15px;
	color: #737373;
	display: block;
	margin-top: 0px;
	margin-bottom: 8px!important;
	font-weight: 400;
	text-transform: uppercase;
}
.share-widget {
}
/* SHARE COUNT starts ::: */
.sh-cnt-row {
	float: left;
}
.sh-cnt-col {
	float: left;
	width: 22.5%;
	margin-right: 5px;
	text-align: center;
	border: 1px solid #e4e4e4;
	padding: 5px;
	border-radius: 0px;
	position: relative;
}
.sh-cnt-col:after, .sh-cnt-col:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.sh-cnt-col:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}
.sh-cnt-col:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #e4e4e4;
	border-width: 7px;
	margin-left: -7px;
}
.sh-cnt-col li {
	width: 100%;
}
.sh-cnt-col p {
	font-size: 14px;
	color: #666;
	margin-bottom: 0px;
	padding-top: 19px;
}
.post-share .fb {
	background: #2d609b
}
.post-share .fb:hover {
	background: #02336b
}
.post-share .tw {
	background: #00c3f3
}
.post-share .tw:hover {
	background: #00a3e1
}
.ps-main .fb {
	background: #2d609b
}
.ps-main .tw {
	background: #00c3f3
}
.post-share .gp {
	background: #db4437
}
.post-share .gp:hover {
	background: #e15f4f
}
.post-share .em {
	background: #aeaeae
}
.post-share .em:hover {
	background: #949292
}
.ph-s {
	height: 40px;
	margin-right: 5px;
	cursor: pointer;
	height: 35px;
	padding-top: 5px;
}
.ph-sm {
	height: 40px;
	width: 140px;
	padding-top: 7px;
	height: 35px;
	padding-top: 5px;
}
.ph-soc-block ul li a, .post-share .fa, .ps-main .fa {
	color: #fff
}
.post-share {
	padding-left: 0;
	padding-bottom: 20px
}
.post-share li {
	float: left;
	list-style: none;
}
.ph-soc-block ul li a, .post-share .fa, .ps-main .fa {
	color: #fff;
}
.post-share a {
	color: #fff!important;
}
/* SHARE COUNT ends ::: */
.link_9bebc {
    background: #fff;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row;
    height: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
.icon_a4b3e, .icon_a4b3e svg {
    height: 60px;
    width: 60px;
}
.side_c0705 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column;
	font-size: 13px;
    line-height: 14px;
}
/* url-bt ends ::: */
.right-sidebar-widget ul {
	padding-left:0px;	
}
.right-sidebar-widget ul li {
	list-style-type:none;	
}
.right-sidebar-widget ul li a {
    color: #777!important;
    padding: 3px 10px 3px 10px!important;
    display: block!important;
    font-size: 13px!important;
    border-top: 1px solid #f5f5f5!important;
}
.right-sidebar-widget ul li a:hover {
    color: #ffffff!important;
    background: #da552f!important;
}
.right-sidebar-widget {
    margin-bottom: 0px !important;
}




/* About style start ::: */
.bg-box-row-1 {
	text-align: center;
	margin-top: 30px;
}
.bg-box-row-1 h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin: 10px 0px 10px;
	line-height: 24px;
	width: 100%;
}
.bg-box-row-1 p {
	font-size: 13px;
	margin-bottom: 15px;
	line-height: 17px;
	width: 100%;
}
.bg-box-row-1 .col-sm-3 {
	padding: 15px;
	min-height: 350px;
	color: #ffffff;
}
.bg-box-row-1 h2 {
	margin: auto;
	display: inline;
	background: #e54e19;
	padding: 8px 20px;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	/*width: 100%;*/
}
.bg-box-row-1 p {
	margin-bottom: 0px !important;
	width: 100%;
}
.bg-box-row-1 h3 {
	margin-top: 10px;
	margin-bottom: 20px!important;
	text-transform: none;
}
.bg-box-row-1 .col-sm-3 h3 {
	min-height: 70px;
}
.bg-box-row-1 .bg-box-1 {
	background: #2ba7d1;
}
.bg-box-row-1 .bg-box-2 {
	background: #d13d4e;
}
.bg-box-row-1 .bg-box-3 {
	background: #f2573c;
}
.bg-box-row-1 .bg-box-4 {
	background: #81c042;
}
.bg-box-row-1 .col-sm-3 img {
	width: 70px;
	height: 70px;
}
.bg-box-row-2 {
	text-align: center;
	margin-top: 50px;
}
.bg-box-row-2 h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin: 10px 0px 10px;
	line-height: 24px;
	width: 100%;
}
.bg-box-row-2 p {
	font-size: 13px;
	margin-bottom: 15px;
	line-height: 17px;
	width: 100%;
}
.bg-box-row-2 .col-sm-3 {
	padding: 15px;
}
.bg-box-row-2 h2 {
	margin: auto;
	display: inline;
	background: #e54e19;
	padding: 8px 20px;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	/*width: 100%;*/
}
.bg-box-row-2 .circle {
	width: 150px;
	height: 150px;
	margin: auto;
	border-radius: 50%;
	background: #bb0b30;
	color: #ffffff;
	font-size: 20px;
	line-height: 25px;
	padding-top: 45px;
	font-weight: bold;
}
.bg-box-row-2 .col-sm-4 {
	margin-top: 30px;
}
.bg-box-row-2 .col-sm-4 img {
	width: 55px;
	height: 55px;
}
.bg-box-row-3 {
	text-align: center;
	margin-top: 50px;
}
.bg-box-row-3 h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin: 10px 0px 10px;
	line-height: 24px;
	width: 100%;
}
.bg-box-row-3 p {
	font-size: 13px;
	margin-bottom: 15px;
	line-height: 17px;
	width: 100%;
}
.bg-box-row-3 .col-sm-3 {
	padding: 15px;
	min-height: 260px;
	color: #ffffff;
}
.bg-box-row-3 h2 {
	margin: auto;
	display: inline;
	background: #e54e19;
	padding: 8px 20px;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	/*width: 100%;*/
}
.bg-box-row-3 p {
	margin-bottom: 0px !important;
}
.bg-box-row-3 h3 {
	margin-top: 10px;
	margin-bottom: 20px;
	text-transform: none;
	width: 100%;
}
.bg-box-row-3 .bg-box-1 {
	background: #f9b294 !important
}
.bg-box-row-3 .bg-box-2 {
	background: #f27280 !important
}
.bg-box-row-3 .bg-box-3 {
	background: #c16c86 !important
}
.bg-box-row-3 .bg-box-4 {
	background: #6d5c7d !important
}
.bg-box-row-3 .col-sm-3 {
	margin-top: 30px;
	min-height: 290px;
}
.bg-box-row-3 .col-sm-3 img {
	width: 70px;
	height: 70px;
	margin-top: 15px;
}
.entry-content p {
    font-size: 17px;
    line-height: 24px;
    margin: 0 0 18px;
    margin-top: 20px;
}
/* About style end ::: */

.count-bt-area {}
.count-col-1 {}
.count-col-2 {
	text-align:center;
}
.count-col-3 {}

.single-git-action {
	margin-top: -10px;
    margin-bottom: 12px;
}
.upvote-ttl {
    background: #da552f;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 4px 8px 2px 8px;
    border-radius: 3px;
    display: inline-block;
    float: left;
    margin-right: 5px;
}
 .icon_a4b3e {
    height: 40px!important;
    width: 60px;
}
.icon_a4b3e .fab {
    font-size: 35px;
    margin-left: 12px;
}
.hurb-menu-custom .hamburger-menu {
    position: fixed!important;
    left: inherit!important;
    right: 20px!important;
    top: 20px!important;
}
.hamburger-menu-overlay-link {
    font-size: 1.15em!important;
}

 .hamburger-menu {
	width: 95px;
}
.hamburger-menu input {  
	width: 95px;
}
.hamburger-menu-overlay-link {
    font-size: 1.15em!important;
}
.hamburger-menu span{
	background: none;
}
.hurb-menu-custom .hamburger-menu span {
	background-color: #3A3B3C 
}
.Categories-menu { 
	top: 8px;
    position: absolute;
    left: 10px;
	color: #111 !important;
}
li.Cat-menu{
	position: relative;
}
.card-subtext > p + p {

    word-spacing: 0.0em !important;

}
.entry-content-2 .hamburger-menu-overlay-link {
    font-size: 0.9em!important;
    padding: 0.5rem 1rem;
    list-style: none;
    color: #4d7edc!important;
    line-height: 1.4em;
    text-transform: capitalize;
    display: inline-block;
}
.entry-content-2 ul {
    padding-left: 0px;
    list-style: none;
}
 .single-blog-card .post {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    min-height: 550px!important;
}
 .lf-table-item::after {
    border-left: 0px solid #2f96b4!important;
}
.lf-table-item::before {
    border-top: 0px solid #2f96b4!important;
}
.lf-table-item {
    padding-left: 0px!important;
}
.lf-form-table .lf-form-table-row {
    padding: 5px 0px!important;
	padding-left: 10px!important;
}
.navbar{margin:0px !important;}
.navbar .navbar-collapse{padding:0px !important;}
.navbar ul.navbar-nav li a{font-size: 16px;}
.navbar-expand-lg .navbar-nav .nav-link{font-size: 16rpx; padding-left:10px!important; padding-right:10px!important;}

.ul-list-style{list-style:disc;}
.ul-list-style li{margin-top: 10px;margin-bottom: 10px;}
.ul-list-style ul{list-style:circle; margin-left:50px;}

.ch-limit {
    display: block;
    height: 48px;
    overflow: hidden;
}
.icon_a4b3e .fas {
    font-size: 35px;
    margin-left: 12px;
    margin-top: 3px;
}
.tabbed-content-row {
	margin-top:25px;	
	margin-bottom:25px;	
}
.tabbed-content-row h4 {
	font-size:19px;
}
.customsearch {}
.customsearch .gsc-control-cse {
    border-color:inherit!important;
    background-color:inherit!important;
    border:0px;
    padding:0px;
}
.customsearch .gsc-input-box {
    border: 0px solid #D9D9D9;
    background:inherit!important;
}
.customsearch .gsc-search-box-tools .gsc-search-box .gsc-input {
	margin:0px;
	border:0px;
}
.customsearch table.gsc-search-box td {
    border: 0px;
}
.customsearch .gsc-search-button-v2, .customsearch .gsc-search-button-v2:hover, .customsearch .gsc-search-button-v2:focus {
    border: 0px;
    outline:0px;
    padding: 8px 15px!important;
}
.customsearch .gsib_a {
    padding:0px 0px 0 0 !important;
}
.customsearch .gsib_a input#gsc-i-id1 {
	border: 1px solid #ddd!important;
    padding: 3px 5px!important;
}
.customsearch .gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0px;
}


/* media queries starts 
---------------------------------- */
@media not screen and (pointer: coarse) {
.card:active {
	transform: scale(0.97)!important;
}
}
@media (max-width:991px) {
.count-col-1 {
}
.count-col-2 {
	text-align:left;
	width:100%;
}
.count-col-3 {
	width:100%;
}
.social-share {
    float: inherit;
}
.fhir-list-row .blog-card {
	flex-direction: column!important;	
}
.fhir-list-row .blog-card .card-img {
    width: 100%;
}


}
@media (max-width:767px) {
.popularity {
    float: inherit;
}
.count-col-1 {
	text-align:center;
}
.count-col-2 {
	text-align:center;
}
.count-col-3 {
	text-align:center;
}
.social-share {
	text-align:center;
}
.small-bt-row {
    float: inherit;
}
.social-ico {
    float: inherit;
}
.card-subtext > p {
    text-align: center;
    width: 100%;
}
.small-bt-row .col {
    padding-right: 0px;
    padding-left: 3px;
}	
.fhir-list-row .blog-card {
	display: flex;
	flex-direction: column!important;
	align-items: stretch;
}
.card-img {
	width: 100%!important;
	max-height: inherit!important;
}
}
@media (max-width:465px) {
.Categories-menu { 

    left: 0px;

}
}
